*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color:white;
	font-family:sans-serif;
	outline:none;
}
.Container
{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.Calculator
{
	background-color:;
	padding:15px;
	border-radius:8px;
	box-shadow: 5px 5px 12px black;
	display: grid;
    grid-template-columns:repeat(4,70px);	
}
input{
	grid-column:span 4;
	height:70px;
	width:260px;
	background-color:#ecf0f3;
	box-shadow: 5px 5px 12px gray;
	            
	
    border-radius:10px;
    color:rgb(70,70,70);
    font-size:50px;
    text-align:start;
    margin-top:40px;
    margin-bottom:30px;
    padding:20px;	
}
button
{
	height:50px;
	width:50px;
	background-color:gray;
	box-shadow: 5px 5px 15px gray;
    border-radius:8px;
    margin:8px;
    font-size:16px;	
}
.equal
{
	width:115px;
	border-radius:40px;
	background-color:#ecf0f3;
	box-shadow: 5px 5px 12px gray;
}